/* Navigation Bar Stuffs */
.nav {
    list-style-type: none;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #E5E5E5;
    position: sticky;
    top: 0;


}

li {
    /* float: right; */
}

li a {
    display: block;
    color: black;
    text-align: center;
    align-items: center;
    padding: 20px;
    vertical-align: middle;
    text-decoration: none;
    background-color: white;
    float: right;
}

li a:hover:not(.active) {
    color: mediumaquamarine;
}

.active {
    color: #4CAF50;
}

.profile {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.profile:hover {
    opacity: 100%;
}

.nav-logo {
    float: left;
}

.smaller {
    width: 150px;
}

/* General Page Layout */
html {
    background-color: #FFFFFF;
}

body {
    max-width: 1260px;
    margin: auto;
    padding: 30px;
    font-family: "Inter";
    font-style: normal;
  }

.head-container {
    display: flex;
  /*  padding: 10px; */
    align-items: center;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    padding-bottom: 20px;
}



/* BUTTON STYLE */

.btn {
    width: 510px;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    border: 2px solid #16C66D;
    cursor: pointer;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn1 {
  background-color: #16C66D;
}

.btn1:hover {
  color: white;
  background: #18824C;
  border: 2px solid #16C66D;
}

.btn-sec {
  width: 160px;
  height: 60px;
  border-radius: 2px;
  border: 2px solid #C4C4C4;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn2:hover {
  color: white;
  background: #4F4F4F;
  border: 2px solid #4F4F4F;
}

.btn2 {
  position: relative;
  float: right;
}


/* MODULE - List */
.mod-cover-1 {
  width: 500px;
  height: 262px;
  background-image: url(mod-sample-1.png);
  background-size: 100%;
  background-position: center;
  margin-right: 20px;

}

.mod-cover-2 {
  width: 500px;
  height: 262px;
  background-image: url(mod-sample-2.png);
  background-size: 100%;
  background-position: center;
  margin-right: 20px;
}


.bottom-left {
  position: relative;
  bottom: 20px;
  left: 20px;
  text-decoration: none;
}
.bottom-right {
  position: relative;
  bottom: 20px;
  right: 20px;
}
.top-left {
  position: relative;
  top: 20px;
  left: 20px;
}
.top-right {
  position: relative;
  top: 20px;
  right: 20px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deadline {
  position: relative;
  padding-top: 10px;
  display: flex;
}

.comp-container {
  width: 540px;
  height: 87px;
  border: 2px solid #C4C4C4;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  align-items: center;
  display: flex;
  margin-top: 10px;
  position: relative;
}

/* TEXT Styles */

h1 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    text-transform: capitalize;
    color: #16C66D;
    padding-left: 20px;
}

h2 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 10px;
    text-transform: capitalize;
    color: #2F3633;
}

h3 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    text-transform: capitalize;
    color: #2F3633;
}

h4 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #B6922E;
}

h5 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 10px;
    text-transform: uppercase;
    color: #16C66D;
}

p1 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #2F3633;
}

p2 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration-opacity: 0%;
}

.placeholder {
    padding: 22px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* Modules */

/* Modules - About Page */

.mod-about {
  position: relative;
  width: 1260px;
  height: 300px;
  background-image: url(mod-about.png);
  background-size: cover;
  background-position: centre;
  background-repeat: no-repeat;
}

.mod-about-bg {
  background-color: #F4F9F7;
  position: absolute;
  width: 1260px;
}

.mod-about-content {
  display: flex;
  padding: 10px;
}

.mod-about-col-1 {
  float: left;
  position: relative;
  width: 620px;
  height: 240px;
  padding: 10px 30px 30px 30px;
}

.mod-about-col-2 {
  float: right;
  position: relative;
  width: 620px;
  height: 240px;
  padding: 10px 30px 30px 30px;
}

/* Modules - BROWSE Page */

.browse-list {
  float: right;
  position: relative;
  padding-left: 30px;
}


.module-img {
    transition: .7s ease;
    width: 240px;
    margin: 20px;
    opacity: 1.0;
}

.module-img:hover {
    opacity: 0.3;
}

.left {
    flex: 3;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.right {
    flex: 1;
}

table, tr {
    border: 1px solid black;
    border-collapse: collapse;
    width: 250px;
    margin: 10px;
}

.chap {
   border-top: 1px solid black;
   width: 80%;
}

.transcript {
    width: 80%;
}
