/* Navigation Bar Stuffs */
.nav {
    list-style-type: none;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #E5E5E5;
    position: sticky;
    top: 0;
}

li {
    /* float: right; */
}

li a {
    display: block;
    color: black;
    text-align: center;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    background-color: white;
    float: right;
}

li a:hover:not(.active) {
    color: mediumaquamarine;
}

.active {
  font-weight: bold;
  color: #16C66D;

}

.profile {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.profile:hover {
    opacity: 80%;
}

.nav-logo {
    float: left;
}

.smaller {
    width: 150px;
}

/* General Page Layout */
html {
    background-color: #FFFFFF;
}

body {
    max-width: 1260px;
    margin: auto;
    padding: 30px;
    font-family: "Inter";
    font-style: normal;
  }

.head-container {
    display: flex;
  /*  padding: 10px; */
    align-items: center;
}

#back-btn{
  padding-right: 20px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    padding-bottom: 20px;
}

.flex-container1 {
    display: -webkit-flex;
    display: flex;
}


/* BUTTON STYLE */

.btn {
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    border: 2px solid #16C66D;
    background-color: #16C66D;
    color: white;
    cursor: pointer;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Changed the button from purple to Black*/
a{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  color: inherit;
}

.btn1 {
  width: 600px;
}

.btn1:hover {
  color: white;
  background: #18824C;
  border: 2px solid #16C66D;
}

.btn1-dash {
  position: relative;
  width: 240px;
  top: 20px;
  margin-right: 10px;
}

.btn1-dash:hover {
  color: white;
  background: #18824C;
  border: 2px solid #16C66D;
}

.btn-sec {
  height: 60px;
  border-radius: 2px;
  border: 2px solid #C4C4C4;
  color: #4F4F4F;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn2:hover {
  color: white;
  background: #4F4F4F;
  border: 2px solid #4F4F4F;
}

.btn2 {
  position: relative;
  float: right;
  width: 160px;
}

.btn2-dash {
  position: relative;
  width: 240px;
  top: 20px;
  margin-right: 10px;
}

.btn2-dash:hover {
  color: white;
  background: #4F4F4F;
  border: 2px solid #4F4F4F;
}

/* DASHBOARD */
.stats {
  width: 500px;
  height:70px;
  align-items: center;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.stats-content {
  float: center;
  text-align: center;
}



/* MODULE - List */
.mod-cover-1 {
  width: 500px;
  height: 262px;
  background-image: url(mod-sample-1.png);
  background-size: 100%;
  background-position: center;
  margin-right: 20px;

}

.mod-cover-2 {
  width: 500px;
  height: 262px;
  background-image: url(mod-sample-2.png);
  background-size: 100%;
  background-position: center;
  margin-right: 20px;
}


.bottom-left {
  position: relative;
  bottom: 20px;
  left: 20px;
  text-decoration: none;
}
.bottom-right {
  position: relative;
  bottom: 20px;
  right: 20px;
}
.top-left {
  position: relative;
  top: 20px;
  left: 20px;
}
.top-right {
  position: relative;
  top: 20px;
  right: 20px;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deadline {
  padding-top: 10px;
  display: flex;
}

.container1 {
  height: 90px;
  border: 2px solid #C4C4C4;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  align-items: center;
  display: flex;
  margin-top: 10px;
  position: relative;
}

#container-comp {
  width: 540px;
  justify-content: space-between;
}



/*
.container1 {
  width: 540px;
  height: 87px;
  border: 2px solid #C4C4C4;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  align-items: center;
  display: flex;
  margin-top: 10px;
  position: relative;
}
*/



/* TEXT Styles */

h1 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    text-transform: capitalize;
    color: #16C66D;
}

h2 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 10px;
    text-transform: capitalize;
    color: #2F3633;
}

h1-1 {
  font-family: "Inter"; sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  text-transform: capitalize;
  color: #16C66D;
}

h3 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    text-transform: capitalize;
    color: #2F3633;
}

h4 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #B6922E;
}

h5 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 10px;
    text-transform: uppercase;
    color: #16C66D;
}

h5 a:hover:not(.active) {
  color: #DBD9D9;
}

h6 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 10px;
    text-transform: uppercase;
    color: #DBD9D9;
}

h6 a:hover:not(.active) {
  color: #16C66D;
}

p1 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #2F3633;
}

p2 {
    font-family: "Inter"; sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration-opacity: 0%;
}

.p3 {
  font-family: "Inter"; sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #808080;

}

.placeholder {
    padding: 22px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* Modules */

/* Modules - About Page */

.mod-about-img {
  width: 1260px;
  height: 300px;
  background-image: url(mod-about.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mod-about {
  margin-bottom: 30px;
  position: static;
  display: inline-block;
}

.mod-about-bg {
  background-color: #F4F9F7;
  width: 1260px;
  height: 550px;

}

.mod-about-content {
  display: flex;
  padding: 10px;
  justify-content: space-between;

}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Module - columns */

.mod-placeholder {
  float: left;
  position: relative;
  width: 500px;
  height: 262px;
}

.mod-about-col {
  width: 620px;
  height: 240px;

}

#mod-col-3 {
  padding: 10px 30px 30px 30px;
}

#mod-col-1 {
  float: left;
  padding: 10px 30px 30px 30px;
}

#mod-col-2 {
  float: right;
  padding: 10px 30px 30px 30px;
}

#dash-mod {
  background-image: url(mod-sample-1.png);
  background-size: 100%;
  background-position: center;
  margin-right: 20px;
}


.mod-about-col-3 {
  float: left;
  width: 620px;
  height: 240px;
  padding-right: 20px;
}

.mod-about-col-4 {
  float: right;
  width: 620px;
  height: 240px;
}


/* Modules - BROWSE Page */

.browse-list {
  float: right;
  position: relative;
  margin-left: 60px;
}


.module-img {
    transition: .7s ease;
    width: 240px;
    margin: 20px;
    opacity: 1.0;
}

.module-img:hover {
    opacity: 0.3;
}

.left {
    flex: 3;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.right {
    flex: 1;
}

table, tr {
    border: 1px solid black;
    border-collapse: collapse;
    width: 250px;
    margin: 10px;
}

.chap {
   border-top: 1px solid black;
   width: 80%;
}

.transcript {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
    height:250px;
    overflow: scroll;
}

/* Quiz */

.question{
  font-size: 20px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: "Inter", sans-serif;
	font-size: 22px;
	background-color: #16C66D;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
button:hover{
	opacity: 80%;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
  padding: 20px;
}
